[submodule "lib/debugbreak"]
	path = lib/debugbreak
	url = https://github.com/Harrand/debugbreak
[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = https://github.com/Harrand/VulkanMemoryAllocator
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw
[submodule "lib/tracy"]
	path = lib/tracy
	url = https://github.com/wolfpld/tracy
