[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = https://github.com/Harrand/VulkanMemoryAllocator
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
[submodule "lib/HDK"]
	path = lib/HDK
	url = https://github.com/Harrand/HDK
