[submodule "lib/VulkanMemoryAllocator"]
	path = lib/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "lib/textc"]
	path = lib/textc
	url = https://github.com/harrand/textc
[submodule "lib/concurrentqueue"]
	path = lib/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
[submodule "lib/lua"]
	path = lib/lua
	url = https://github.com/lua/lua
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui
