* linguist-vendored
*.mdl linguist-vendored=false
*.data linguist-vendored=false
*.mdl linguist-language=YAML
*.data linguist-language=YAML
*.hpp linguist-vendored=false
*.cpp linguist-vendored=false
*.bat linguist-vendored=false
*.glsl linguist-vendored=false
*.obj linguist-vendored=false
