id ICON "../icon/topaz.ico"
1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "Harrand"
      VALUE "FileDescription", "Topaz Game Engine"
      VALUE "FileVersion", "1.0"
      VALUE "InternalName", "topaz"
      VALUE "LegalCopyright", "Harrand"
      VALUE "OriginalFilename", "topaz.dll"
      VALUE "ProductName", "TOPAZ ENGINE"
      VALUE "ProductVersion", "1.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END